<div class="row">
  <div class="span8 offset1">
		<h1>This is Your cat</h1>
		<%= image_tag(@cat.pic, :alt => "cat") %>
		<br /><br />
		<%= @cat.name %>
		<br />
		<br />
		<center>ขอให้โชคดีในการหาแมวมาเลี้ยงนะครับ</center>
		<br />
		ขอบคุณที่ร่วมสนุกกับ Applicationของเรา
		<br />
		<br />
		<%= link_to 'Sign Out', signout_path, method: "delete"%>
	</div>
</div>