<% provide(:title, "Should you cat") %>

<div class="row">
  <div class="span8 offset1">
    <h1>What should you pet cats.</h1>
    <%= form_for(:question, url: question_index_path) do |f| %>

      What color do you like?<br/>
      <select class="" id="color" name="color">            
      <option value="1">Red</option>
      <option value="2">Green</option>
      <option value="3">Blue</option>
      <option value="4">Yellow</option>
      <option value="5">White</option>
      <option value="6">Black</option>
      <option value="7">Violet</option>
      </select>

      <br/>
      What hobbie type do you like?<br/>
      <select class="" id="hobbie" name="hobbie">            
      <option value="1">Play Game</option>
      <option value="2">Sport</option>
      <option value="3">Reading a book</option>
      </select>
      
      <br/>
      What Size do you like?<br/>
      <select class="" id="size" name="size">            
      <option value="1">Small</option>
      <option value="2">Medium</option>
      <option value="3">Large</option>
      </select>

      <br/>
      <br/>
      <%= f.submit "Let show my cat!!!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
